<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск товаров</title>
    <link href="{{url_for('static', filename='static.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet" type="text/css"/>
</head>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3> Введите параметры поиска товара</h3>
        </div>
        <form id="query" action="" method=post></form>
        <div class="modal-body">
            {% if wrong %}
            <h4 style="color: red">Нет результатов</h4>
            {% endif %}
            <label for="name" class="d-flex aligns-items-left">Наименование</label>
            <input type="text" class="form-control" name="name" id="name" form="query">
            <label for="price" class="d-flex aligns-items-left">Максимальная цена</label>
            <input type="text" class="form-control" name="price" id="price" form="query">
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Отправить" form="query">
            <input type="reset" class="btn btn-outline-danger" value="Очистить" form="query">
            <form action="{{ url_for('bp_query.query_menu') }}" target="_self">
                <button class="btn btn-outline-dark">Вернуться назад</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>