<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск товаров</title>
    <link href="{{url_for('static', filename='static.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2> Меню выбора поиска товаров </h2>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('bp_query.query_index_cat_price') }}" target="_self">
                <button class="btn btn-primary">Поиск по категории и минимальной цене товара</button>
            </form>
            <br/>
             <form action="{{ url_for('bp_query.query_index_name') }}" target="_self">
                <button class="btn btn-primary">Поиск по наименованию и максимальной цене товара</button>
            </form>
        </div>
        <div class="modal-footer">
            <form action="/">
                <button class="btn btn-outline-dark">Вернуться назад</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>